{% extends "base.html.twig" %} 
{% block title %} Symfony project - Accueil {% endblock %} 
{% block body %}
<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Bienvenue sur ma page</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p>
      Pour commencer, veuillez cliquer sur le boutton d'inscription
    </p>
    <a class="btn btn-success btn-lg" href="{{ '/user' }}" role="button">Inscription</a>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tempora quia
    inventore velit molestiae eaque cumque, repudiandae doloremque ut, commodi
    esse sapiente quasi, reiciendis provident. Voluptatibus quos esse ullam
    aliquid.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur deleniti magnam ad sint mollitia eos distinctio sit quas perferendis commodi facere ex saepe vero, beatae adipisci earum! Velit, inventore amet.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur voluptatum illum amet possimus voluptates? Laudantium, qui. Exercitationem quaerat accusantium suscipit, animi culpa dolorem itaque dolorum harum voluptatem, adipisci saepe placeat!
  </p>
</div>

{% endblock %}
